.number-card{
    top: -60%;
    left: 30%;
    border-radius: 50%;
    width:25px;
    height:25px;
    text-align: center;
}

.image-card{
    width: 100%;
    height: 300px;
}

.check{
    top: 25%;
    left: 70%;
    right: 5%;
    background-color: tomato;
    border-radius: 5%;
    padding: 10px;
}